{% extends 'base.htm' %} 
{% load humanize %} 


{% block contents %} 
<div class="row mt-12">
    <div class="col-12">

        <table class="table table-light">
            <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">상품명</th>
                    <th scope="col">가격</th>
                    <th scope="col">등록날짜</th>
                </tr>
            </thead>
            <tbody>
                {% for order in order_list %}
                <tr>
                    <th>{{ order.fcuser }}</th>
                    <th>{{ order.product }}</th>
                    <th>{{ order.quantity|intcomma }}원</th> <!-- , 필터 기능-->
                    <th>{{ order.register_date|date:"o년 n월 j일"}}</th>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</div>
{% endblock %}
